img {
  width: 100%;
}
.about {
  padding: 6rem 0;
  margin: 0 10rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  color: white;
}

.about-heading {
  margin-bottom: 2rem;
}

.about-heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #06141f;
}

.about-heading p {
  font-size: 1rem;
  color: #06141f;
}

.about-line {
  width: 15%;
  margin: 1rem 0;
  border-color: #ffbb12;
}
.about_text {
  font-size: 1.2rem;
  line-height: 2;
  max-width: 600px;
  text-align: justify;
  font-family: "Roboto";
  color: #06141f;
}

.profile-div {
  flex: 1;
  max-width: 400px;
  max-height: 400px;
  margin: 0 3rem;
  filter: drop-shadow(5px 3px 0.3rem #0c0c0ca2);
}

.profile-img {
  border-radius: 10px;
}

.about-details {
  flex: 1;
}

.about-buttons {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
}

.about_main_buttons-link {
  text-decoration: none;
}

.about_main_buttons {
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 8px;
  background-color: #ffbb12;
  transition: 0.3s ease background-color;
  color: #10141f;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.about_main_buttons:hover {
  background-color: #e2a711;
}

@media only screen and (max-width: 1200px) {
  .about-heading p {
    font-size: 1rem;
    text-align: center;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .about-line {
    margin: 1rem auto;
  }

  .about-buttons {
    flex-direction: column;
    gap: 0;
    margin: 0.7rem 0;
  }

  .about_main_buttons {
    width: 100%;
    text-align: center;
  }

  .about_main_buttons-link {
    padding: 1rem 0;
  }

  .about-details,
  .profile-div {
    width: 100%;
  }

  .about-heading h1 {
    font-size: 2.5rem;
  }

  .about-details {
    flex: 4;
  }

  .about_text {
    max-width: 100%;
  }

  .profile-div {
    flex: 3;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 7rem 0;
    margin: 0 3rem;
  }

  .about_text {
    text-align: center;
  }
}
