.skills_section {
  margin: 2rem auto;
  padding: 3.5rem;
  text-align: center;
  color: white;
  background-color: #06141f;
}

.skills-line {
  width: 7%;
  margin: 1rem auto;
  border-color: #ffbb12;
}

.skills_heading {
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;

  padding: 2rem 0;
}

.skills_heading h1 {
  color: #30e5c2;
  text-transform: uppercase;
}

.skills_heading p {
  font-size: 1.1rem;
  color: #30e5c2;
}

.skills_container {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin: 2.5rem 0;
}

.skills h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.skill-icon {
  font-size: 2.8rem;
}

.skills {
  color: #ffbb12;
  transition: 0.3s ease;
}

.skills:hover {
  transform: translateY(-8px);
  color: #30e5c2;
}

@media only screen and (max-width: 768px) {
  .skills_container {
    flex-direction: column;
    max-width: 300px;
    margin: 2rem auto;
    gap: 2rem;
  }

  .skill-icon {
    font-size: 3rem;
  }
  .skills h2 {
    font-size: 1.2rem;
  }

  .skills:hover {
    transform: none;
    color: #ffbb12;
  }
}
